<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function goDel(id){
            console.log(id);
            location.href="/delete/"+id;
        }
    </script>
</head>
<body>
<table border="1">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>가격</th>
        <th>저자</th>
        <th>페이지</th>
        <th>삭제</th>

    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">ID</td>
        <td><a th:href="@{/detail/{id}(id=${book.id})}" th:text="${book.title}">TITLE</a></td>
        <td th:text="${book.price}">PRICE</td>
        <td th:text="${book.author}">AUTHOR</td>
        <td th:text="${book.page}">PAGE</td>
        <td><button th:onclick="goDel([[${book.id}]])">삭제</button></td>
        <td><a th:href="@{/delete/{id}(id=${book.id})}">삭제</a></td>
    </tr>
</table>
<a th:href="@{/register}">등록</a>

</body>
</html>
